@import url(sample-import.css) screen and (max-width:991px);
x-foo {color: red; font-weight:normal;}

x-foo em { font-weight: bold; }

x-foo.talk em { color: #428bca; }

em:hover:after { content: "something"; color: blue; }
b { color: green; }

x-foo::shadow em { text-decoration: underline; }
x-foo.talk::shadow em {border-top: 3px solid #428bca; }

@media (max-width: 991px) {
  em { color: #25B068; }
  x-foo::shadow em { background-color:#ccc; }
}
